body{
    background-color: white;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div:nth-of-type(1){
    display: flex;
    justify-content: center;
}
#logo{
    height: 3.5rem;
}

h1{
color: rgb(51, 51, 51);
}

form{
  /* width: 50%; */
    box-shadow: 2px 2px 5px gray;
    
}

.col-md-7{
    margin: auto;
}
label{
    color: rgb(17, 17, 17);
    font-weight: 400;
    font-size: 15px;
}
:placeholder-shown{
    font-size: 18px !important;
}
input{
    border-radius: 15px;
    height: 2.5rem ;
    border: 2px solid rgb(198, 196, 196);
    width: 100%;
}

a{
    color: rgb(49, 49, 49) !important;
    font-size: 15px;
    font-weight: 600;
}
a:hover{
    text-decoration-thickness: 100px;
}

#login{
border-radius: 25px;
height: 3rem;
background-color: rgb(230,0,35);
color: white;
font-size: 15px;
font-weight: 600;
}

#login:hover{
    background-color: rgb(185, 33, 33);
}
button img{
    height: 1.5rem; 
}
#facebook{
    border-radius: 25px;
    height: 3rem;
    background-color: rgb(0,116,232);
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-wrap: wrap;
}

#google{
    border-radius: 25px;
    height: 2.5rem;
    font-size: 15px;
    font-weight: 600;
}

#google:hover{
    background-color: rgb(225, 237, 252);
    transition: 2s;
}

p{
    color: 
    rgb(118, 118, 118);
    font-size: 12px;
}

p a{
    font-size: 12px;
}

#shadow{
    height: 5px;
    background-color: rgb(226, 224, 224);
    border-radius: 7px;
    /* display: flex; */
    justify-self: center;
}

p:nth-of-type(2) a:hover{
text-decoration: none;
}
@media (max-width:1290px) {
    form{
       width: 60%;
    }
}
@media (max-width:765px) {
    form{
        width: 80%;
    }
    h1{
        font-size: 22px !important;
    }
    #login{
        font-size: 15px;
    }
    #facebook{
        font-size: 15px;
    }
    #google{
        font-size: 15px; 
    }

    button img{
        height: 1.3rem;
    }
}



